body, html {
    background-color: rgb(58, 175, 131);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
}

.layout {
    box-shadow: 5px 5px 5px 5px rgb(38, 127, 93);
}

.main {
    background-color: white;
    padding: 30px;
    justify-content: center;
}

h1 {
    color: black;
    font-size: 30px;
    margin: 0;
    font-family: Arial;
}

.input {
    font-size: 8px;
    font-family: 'Times New Roman';
    color: rgb(128, 128, 128);
    margin: 0;
}

.header {
    font-size: 15px;
    margin-bottom: 20px;
}

.end {
    margin: 30px;
    text-align: center;
    font-size: 10px;
}

button {
    margin-top: 15px;
    text-align: center;
    background-color: rgb(58, 175, 131);
    color: white;
    width: 300px;
    height: 30px;
    border: none;
}

input {
    background-color: #f7f7f7;
    width: 267px;
    padding: 0px;
    border: 0px solid #ccc;
}

.fix {
    height: 30px;
    padding: 0px;
    display: flex;
    margin-bottom: 10px;
}

.icon {
    width: 30px;
    height: 30px;
}
